.jumbotron-shrink {
  height: 130px;
}

div.jumbotron {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

div.jumbotron-shrink {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
